.dashboard {
  /* display: grid;
  grid-template-columns: 20% 80%; */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100vh;
  width: 95%;
  margin: 1rem auto 0 auto;
}

.userProfile {
  padding: 0.8rem 0 0.8rem 0.7rem;
}

.userProfile img {
  border-radius: 50%;
  width: 4rem;
}

.userProfile h3 {
  margin-bottom: 1rem;
}

/* .mainDiv {
  border: 1px solid cyan;
} */

.mainDiv h1 {
  margin-bottom: 2rem;
}

.sideBarLinks {
  display: flex;
}

.sideBarLinks div {
  background-color: #0065fe;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  margin: 0 1rem 2rem 0;
  padding: 0.6rem 0;
  text-align: center;
}

.sideBarLinks div a {
  color: white;
  text-decoration: none;
}

.add {
  padding: 1rem 0;
  margin: 0 auto;
  width: 55%;
}

.add h1 {
  text-align: center;
  color: #0065fe;
}

.qrCodeContainer {
  width: 55%;
  margin: 0 auto 2rem auto;
  text-align: center;
}

form h1 {
  color: #0065fe;
}

form button {
  width: 100%;
}

@media (max-width: 900px) {
  .add {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .add {
    width: 100%;
  }
}
