.dashboard {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 90vh;
  width: 100%;
}

.sideBar {
  padding: 0.8rem;
  border-right: 2px solid #e2e9f0;
}

.userProfile {
  background-color: #e2e9f0;
  border-radius: 10px;
  padding: 0.8rem 0 0.8rem 0.7rem;
  margin-bottom: 4rem;
}

.userProfile img {
  border-radius: 50%;
}

.mainDiv {
  padding: 2rem;
}

.sideBarLinks div {
  background-color: #0065fe;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto 2rem auto;
  padding: 0.6rem 0;
  text-align: center;
}

.sideBarLinks div a {
  color: white;
  text-decoration: none;
}
