.MainFaqs {
  margin-bottom: 5rem;
}

.MainFaqs h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.faqsDiv {
  width: 50%;
  margin: 0 auto;
}

.faq {
  margin-bottom: 2rem;
  border-bottom: 1px solid #d6d6d6;
}

.faq p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  .faqsDiv {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .faqsDiv {
    width: 80%;
  }
}
