.pricingMain {
  width: 80%;
  margin: 8rem auto 0rem auto;
  /* border: 2px solid cyan; */
}

.pricingHeader {
  margin-bottom: 8rem;
  text-align: center;
}

.pricingHeader h3 {
  font-size: 2.4rem;
}

.pricingHeader p {
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
}

.pricingHeader span {
  color: #0065fe;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 0 auto 5rem auto;
  /* border: 1px solid red; */
}

.eachPricing {
  border: 0.4px solid #0065fe;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 5rem 0;
}

#premiumPricing {
  background-color: #1e3448;
  border: 0px;
  color: white;
  padding: 8rem 0;
}

.paymentType {
  margin-bottom: 0.7rem;
}

.paymentPrice {
  font-size: 2.1rem;
  margin-bottom: 0.7rem;
}

.paymentTypeDesc {
  margin-bottom: 0.7rem;
}

.eachPaymentOption {
  display: flex;
  align-items: center;
}

.eachPaymentOption img {
  display: inline;
  margin-right: 0.8rem;
}

.eachPaymentOption:not(:last-child) {
  margin-bottom: 0.8rem;
}

.getPricing {
  text-align: center;
}

.customPricing {
  background-color: white;
  border: 1px solid #0065fe;
  border-radius: 25px;
  color: #0065fe;
  font-size: 1.12rem;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
  transition: 0.2s ease-in-out;
}

.customPricing:hover {
  background-color: #0065fe;
  color: white;
}

.selectPricing {
  background-color: #0065fe;
  border: 0px;
  border-radius: 25px;
  color: white;
  font-size: 1.12rem;
  padding: 0.8rem 1.9rem;
}

@media (max-width: 1200px) {
  .pricing {
    width: 100%;
  }

  .pricingMain {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .pricingMain {
    width: 95%;
  }
}

@media (max-width: 850px) {
  .pricing {
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    /* width: 85%;
    margin: 0 auto 5rem auto; */
  }

  .pricingMain {
    width: 95%;
  }
}

@media (max-width: 560px) {
  .pricing {
    width: 70%;
  }
}

@media (max-width: 560px) {
  .pricing {
    width: 80%;
  }
}
