* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy';
  overflow-x: hidden;
}

button {
  cursor: pointer;
  font-family: 'Gilroy-medium';
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: local('Gilroy-Heavy'), url('./fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url('./fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'),
    url('./fonts/Gilroy-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url('./fonts/Gilroy-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Gilroy-Bold';
}

p,
a {
  font-family: 'Gilroy-Medium';
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.errorPage h1 {
  color: #0065fe;
  font-size: 3.4rem;
  margin-bottom: 0.5rem;
}

.errorPage button {
  background-color: #0065fe;
  color: white;
  border: 0px;
  border-radius: 56px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
}
