nav {
  width: 100%;
  height: 10vh;
}

.navbarDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img:not(:last-child) {
  margin-right: 0.8rem;
}

.linksBtn {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navLinks a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #141414;
}

.navLinks a:hover {
  color: #0065fe;
}

.navLinks a:not(:last-child) {
  margin-right: 1.5rem;
}

.login {
  color: #0065fe;
  background-color: white;
  border: 0;
  margin-right: 0.8rem;
  font-size: 1rem;
}

.trial {
  background-color: #0065fe;
  color: white;
  border-radius: 25px;
  border: 1px solid #0065fe;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 20px;
  background-color: hsla(240, 8%, 15%, 1);
  transition: 0.5s ease;
}

.burger div:not(:last-child) {
  margin-bottom: 0.3rem;
}

@media (max-width: 890px) {
  .linksBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0065fe;
    color: white;
    /* inset: 10% 10% 15% 15%; */
    top: 82px;
    right: 1px;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  .navLinks a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  .navLinks a:hover {
    color: white;
  }

  .navLinks a:not(:last-child) {
    margin: 0 0 1.5rem 0;
  }

  .login {
    color: #0065fe;
    background-color: white;
    border-radius: 25px;
    border: 0;
    margin-right: 0.8rem;
    font-size: 1rem;
    padding: 0.8rem 1.2rem;
  }

  .trial {
    background-color: white;
    color: #0065fe;
  }

  .burger {
    display: block;
  }

  .linksBtn.open {
    visibility: visible;
    opacity: 1;
  }

  .one.open {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
  }

  .two.open:nth-child(2) {
    opacity: 0;
  }

  .three.open:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
  }
}

.nav-active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}

.logOut {
  background-color: #0065fe;
  color: white;
  border-radius: 25px;
  border: 1px solid #0065fe;
  margin-right: 0.8rem;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
}
